body {
    background-color: black;
}

.container {
    margin-top: 75px;
    position: relative;
}

.video {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 3;
}

.key {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.cover {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 2;
}