body {
    background-color: black;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.youtube-video {
    margin-top: 75px;
}

iframe {
    z-index: 3;
    position: absolute;
}

img {
    position: absolute;
}

.key {
    z-index: 1;
}

.cover {
    z-index: 2;
}